html,body,#app {
  height: 100%;
}

.login_container {
  .el-input__inner{
    height: 48px;
    border: 1px solid#3E4856;
    color: #fff;
    background-color: #283443;
    padding-left: 40px;
  }
  .el-button--primary {
    width: 100%;
    margin-top: 20px;
  }
}


.el-input__prefix {
  left: 15px;
}

